<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Hola! I am Lorem Ipsum Generator :)</h1>
<p> Choose how many words, sentences or paragraphs you want to generate :) </p>

<form action="/result" method="get">
    <label>Number</label>
    <input type="text" name="count"/>
    <select name="choice">
        <option value="word"> Words </option>
        <option value="sentence"> Sentences</option>
        <option value="paragraph"> Paragraph</option>
    </select>
    <input type="submit" value="Generate!">
</form>
</body>
</html>